<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nabass.lime" >

    <!-- Permission needed to use Google+ APIs -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To retrieve account name (email) as part of sign-in -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To retrieve and/or invalidate tokens -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Permission needed to read phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Components needed to work with GCM -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    <permission
        android:name="com.nabass.lime.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.nabass.lime.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Permissions need to change user image -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissions needed by sync adapter -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>


    <application
        android:name=".Init"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Metadata tag needed to use Google+ APIs -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <!-- Specified android:theme property removes top bar at activity level -->
        </activity>

        <provider
            android:name=".db.CustomCP"
            android:authorities="com.nabass.lime.provider"
            android:exported="true"
            android:syncable="true">
        </provider>

        <receiver
            android:name="com.nabass.lime.network.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.nabass.lime" />
            </intent-filter>
        </receiver>

        <service
            android:name=".synchronization.accounts.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="com.nabass.lime.synchronization.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>
